#container{
    width:100%;
    height:100%;
    display:block;
    position:absolute;
    top:0;
    left:0;
}

#container nav{
    display:block;
    width:100%;
    height:32px;
}

#container nav #titleShown{
    width:30%;
    height:100%;
    line-height: 32px;
    color: var(--text);
    font-size: 1.2em;
    font-weight: bold;
    float:left;
    padding: 0 0 0 1em;
    -webkit-app-region: drag !important;
}

#container nav #buttons{
    float:top;
    width: 100%;
    height: 100%;
    line-height: 30px;
    background-color: var(--backgroundPrimary);
    -webkit-app-region: drag;
}

#buttons #minimize, #buttons #close{
    float: right;
    height:100%;
    width: 62px;
    text-align: center;
    color: var(--text);
    -webkit-app-region: no-drag;
    -webkit-user-select: none;
    user-select: none;
    font-size: 1.5em;
    background-color: var(--topbarButtons);
    transition: all ease-in-out .2s;
    outline: none;
    box-shadow: none;
    border: none;
}

#buttons #menu , #buttons #settings{
    float: left;
    height:100%;
    width: 42px;
    text-align: center;
    color: var(--text);
    -webkit-app-region: no-drag;
    -webkit-user-select: none;
    user-select: none;
    font-size: 1.5em;
    background-color: var(--topbarButtons);
    transition: all ease-in-out .2s;
    outline: none;
    box-shadow: none;
    border: none;
}

/* Normal Side Bar Of Friends */
#sideBar{
    float: bottom left;
    width: 128px;
    height: calc(100% - 32px);
    overflow-y: none;
    display:block;
    position:absolute;
    bottom: 1;
    left: 0px;
    padding: 0 0 0 0;
    background-color: var(--backgroundPrimary);
    z-index: 256;

    transition: width 1s;
    transition-delay: 15ms;
}

/* Scroll bar functionality for SIDEBAR */
#sideBar::-webkit-scrollbar {
    width: 2.5px !important;
    background-color: transparent !important;
}
#sideBar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--scrollMain) !important; 
    border-radius: 5px !important;
}

/* Handle */
#sideBar::-webkit-scrollbar-thumb {
    background: var(--scrollScnd) !important;
    border-radius: 5px !important;
}

#FriendHolder{
    width: 100%;
    height: calc(100% - 38px);
    overflow-y: auto; /*scroll*/
    overflow-x: hidden;
    display:block;
    position:absolute;
    top: 38px !important;
    left:0;
    padding: 0 0 0 0;
    background-color: var(--backgroundPrimary);
    z-index: 1;

    transition: width 1s;
    transition-delay: 15ms;

    display:inline-block;
    word-break: break-all;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
}

#FriendHolder *:not(.hide):not(.onCall){
    float: center top;
    width: 100%;
    height: 50px;
    display:block;
    padding: 0 0 0 0;

    text-align: center;
    font-size: 80%;
    font-weight: bold;

    margin-top: 2.5px;
    margin-bottom: 2.5px;

    background-color: var(--interactble);
    overflow: hidden;

    text-align: center;
}

#FriendHolder .onCall{
    float: center top;
    width: 100%;
    height: 50px;
    display:block;
    padding: 0 0 0 0;

    text-align: center;
    font-size: 80%;
    font-weight: bold;

    margin-top: 2.5px;
    margin-bottom: 2.5px;

    transition: background-color 0.3s ease-in-out;

    background-color: var(--interactble*2.5);
    overflow: hidden;

    text-align: center;
}

#FriendHolder .hide{
    display:none;
}

#sideBar::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

#MainContents{
    position: relative;
    float: bottom !important;
    bottom: 0% !important;

    width: 100%;
    height: calc(100% - 32px);
    display:block;
    padding: 0 0 0 0;
    background-color: var(--backgroundSecondary);
}

#msgbox{
    width: calc(100% - 178px);
    height: 40px;
    display:block;
    padding: 0 0 0 0;

    margin: 0px;
    position: absolute !important;
    
    background-color: var(--backgroundPrimary);
    overflow-y: scroll;
    overflow-x: none;

    text-align: left;
    
    border: none !important;
    outline: none !important;

    float: center right;

    right: 45px !important;
    border: 2.5px solid var(--outlines) !important;

    color: var(--text);

    transition: all 1s;
    transition-delay: 15ms;
    z-index: 300 !important;
}

#Main_BG{
    position: absolute;
    background-color: var(--outlines);
    width: 100%;
    height: 40px;
    bottom: 0% !important;
    z-index: 4;
}

#Top_BG{
    position: absolute;
    background-color: var(--outlines);
    width: calc(100% - 128px);;
    height: 38px;
    top: 0% !important;
    left: calc(0% + 128px) !important;
    z-index: 256;
}

#TopName{
    position: relative;
    width: calc(100% - 64px);
    height: 100%;
    text-align: left;
    font-size: 2em;
    font-weight: bold;
    color: var(--text);
    background-color: transparent !important;
    float: left;
}

#CallButton{
    position: relative;
    width: 64px;
    height: 100%;
    font-size: 2em;
    font-weight: bold;
    color: var(--text);
    background-color: transparent !important;
    float: center;
    text-align: center;
}

#submitBtn{
    width: calc(0% + 40px);
    height: 40px;
    display:block;
    padding: 0 0 0 0;

    margin: 0px;
    position: relative !important;
    
    background-color: var(--interactble);
    overflow: none;

    font-size: 2em;

    text-align: center;

    float: center right;
    
    left: calc(100% - 40px);

    transition: all ease-in-out .25s;

    border: 2.5px solid var(--outlines);

    user-select: none;

    -webkit-app-region: no-drag;
    -webkit-user-select: none;

    z-index: 5;
}

#submitBtn:hover{
    background-color: var(--interactbleHover);
}

#addFriend{
    position: absolute;
    top: 0;
    left: 0;
    height: 38px !important;
    width: 42px !important;
    text-align: center;
    color: var(--text) !important;
    -webkit-app-region: no-drag !important;
    font-size: 0.75em;
    background-color: var(--topbarButtons);
    transition: all ease-in-out .2s;
    outline: none;
    box-shadow: none;
    border: none;
    font-family: monospace;
    z-index: 999;
}
#search{
    position: absolute;
    top: 0;
    left: 42px;
    height: 38px !important;
    width: calc(100% - 42px) !important;
    text-align: center;
    color: var(--text) !important;
    -webkit-app-region: no-drag !important;
    font-size: 1.5em;
    background-color: var(--topbarButtons);
    transition: all ease-in-out .2s;
    outline: none;
    box-shadow: none;
    border: none;
    font-family: monospace;
    z-index: 999;
}


/*  Adding Hover Functionality For All Buttons */
#buttons #minimize:hover, #buttons #settings:hover, #buttons #menu:hover{
    background-color: var(--topbarButtonsHover);
}

#addFriend:hover,#search:hover{
    background-color: var(--topbarButtonsHover);
}

#buttons #close:hover{
    background-color: var(--topbarCloseHover);
}

#messeges{
    width: calc(100% - 130px);
    height: calc(100% - 78px);
    background-color: var(--backgroundSecondary);
    z-index: 1;
    float: center right;
    position: absolute;
    left: 130px;
    top: 38px;
    overflow: auto;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 15; /* 15 */
}

/* Scroll bar functionality */
*:not(#sideBar)::-webkit-scrollbar {
    width: 15px;
    background-color: transparent !important;
}
*:not(#sideBar)::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--scrollMain); 
    border-radius: 10px;
}

/* Handle */
*:not(#sideBar)::-webkit-scrollbar-thumb {
    background: var(--scrollScnd); 
    border-radius: 10px;
}

#messeges *:not(.Image):not(#tutorial):not(#CallerAnswerOBJ){
    width: calc(60%);
    height:auto;
    min-height: 10px;
    max-height: none;
    flex-direction: column;
    background-color: var(--backgroundPrimary);
    z-index: 1;
    overflow: hidden;
    display:table;
    margin: 5px;
    padding: 1.5px;
    color: var(--text);
    font-weight: bold;
    font-size: 1.5em;
    text-align: left;
    overflow-y: none;
    -webkit-user-drag: none; 
    -khtml-user-drag: none; 
    -moz-user-drag: none; 
    -o-user-drag: none; 
    transition: all ease-in-out .2s;
    display:inline-block;

    word-break: break-all;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
}

#messeges #CallerAnswerOBJ{
    width: calc(60%);
    background-color: var(--backgroundPrimary);
    z-index: 999;
    margin: 5px;
    color: var(--text);
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    overflow-y: auto;
    -webkit-user-drag: none; 
    -khtml-user-drag: none; 
    -moz-user-drag: none; 
    -o-user-drag: none; 
    transition: all ease-in-out .2s;
    display:inline-block;
}

#messeges .otherMessege{
    float: right !important;
    text-align: right !important;
}

#messeges .Image{
    width: calc(60%);
    background-color: var(--backgroundPrimary);
    z-index: 1;
    margin: 5px;
    color: var(--text);
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    overflow-y: auto;
    -webkit-user-drag: none; 
    -khtml-user-drag: none; 
    -moz-user-drag: none; 
    -o-user-drag: none; 
    transition: all ease-in-out .2s;
    display:inline-block;
}

#messeges .Button:hover{
    background-color: var(--interactbleHover);
}

#tutorial{
    width: 100%;
    height: 100%;
    z-index: 99999;
}